html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-image: url(../assets/back.png);
    background-repeat: no-repeat;
    background-size: cover;

}

label, button {
    font-size: 20px;
    font-family: cursive;
}

p{
    border: solid 2px white;
    width: 150;
    height: 10px;
    text-align: center;
    padding: 10px;
}

div {
    border: solid 4px white; 
   padding: 5%;
    width: 15%;
    height: 50%;
    margin: 5% auto;
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
}

#botao {
    margin: 0 60 0;
}